body {
    background-color: #e6f2e6; 
    color: #2f4f2f; 
}

.navbar {
    background-color: #a3d5a3; 
}

.navbar-brand, .nav-link {
    color: #2f4f2f ;
    font-weight: bold;
}

p {
    line-height: 1.6;
}

.footer-link {
    color: #2f4f2f; 
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}


.covoiturage-img {
    width: 100%;        
    height: 250px;      
    border-radius: 10px; 
}

/* Taille réduite des graphiques */
.graph-container {
    width: 50%;       /* moitié de la largeur normale */
    margin: 0 auto;   /* centrage horizontal */
}

canvas {
    width: 100% !important;
    height: auto !important;
}

